.chart-item {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  font-size: 1.3rem;
  .chart-item-time {
    font-size: .7rem;
    font-weight: 300;
  }
  .column {
    margin: 3rem 0 .5rem 0;
    width: 100%;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    .temp {
      font-size: .95rem;
    }
    .fill {
      width: calc(100% - 0.05rem);
      background-color: rgba(255, 255, 255, 0.3);
      border-bottom: 0.01rem solid rgba(255, 255, 255, 1);
    }
  }
}