.city {
  display: flex;
  align-items: center;
  flex-direction: column;
  @media (min-width: 600px) {
    align-items: flex-start;
  }
}
.cityName {
  font-size: 1.8rem;
  font-weight: 100;
}
.time {
  font-size: 0.8rem;
  @media (min-width: 600px) {
    font-size: .7rem;
  }
  font-weight: 300;
}