.conditions {
  display: flex;
  flex-direction: column;
  padding-bottom: 1.5rem;
  @media (min-width: 600px) {
    padding-top: 1.3rem;
    align-items: flex-start;
  }
}
.description {
  font-size: 1.4rem;
  font-weight: 100;
  min-width: 150px;
  text-align: center;
  margin-top: -14px;
  @media (min-width: 600px) {
    text-align: left;
  }
}
.conditions-up {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 6rem;
  margin-top: .3rem;
  @media (min-width: 600px) {
    font-size: 3.6rem;
  }
}
.min-max {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  font-size: 1.4rem;
  margin-left: 1rem;
  margin-bottom: .5rem;
  line-height: 2rem;
  div {
    display: inline-block;
  }
  .degree {
    width: .32rem;
    height: .32rem;
    margin: 0 0 .7rem 0;
    border: .13rem solid white;
  }
}
.min {
  color: rgba(255, 255, 255, 0.5);
  .degree {
    border-color: rgba(255, 255, 255, 0.5);
  }
}