.details {
  display: flex;
  flex-wrap: wrap;
}
.tail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33.33333%;
  margin-bottom: 1rem;
  @media (min-width: 600px) {
    margin-top: 1.3rem;
    width: 50%;
  }
  @media (min-width: 800px) {
    width: 33.33333%;
  }
  i {
    font-size: 1.5rem;
  }
  span {
    font-size: .7rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.4);
    margin-top: .3rem;
  }
  .value {
    font-size: .95rem;
    font-weight: 400;
    color: white;
    margin-top: 0;
  }
}